<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caijiajia.ratelimiter.server.mapper.RequestInfoMapper">

    <select id="sumRequestInfoByIpList" resultType="cn.caijiajia.ratelimiter.server.vo.IpRequestSum">
        select
        ip,count(id) num, GROUP_CONCAT(req_time order by req_time asc separator ',') times,
        GROUP_CONCAT(param SEPARATOR ',,') params,group_concat(distinct apps) apps
        from request_info
        where 1=1
        <if test="apps!=null and apps!=''">
            and apps=#{apps}
        </if>
        <if test="startDateTime!=null">
            and req_time&gt;=#{startDateTime}
        </if>
        <if test="endDateTime!=null">
            and req_time&gt;=#{endDateTime}
        </if>
        group by ip
        order by ip
    </select>

</mapper>